[Unit]
Description=Monitor ambient temperature via BLE thermometers with ATC/pvvx firmware
Wants=multi-user.target bluetooth.service
After=bluetooth.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/atc_pvvx_monitor.py -s10 -p50 -c /home/pi/thermometers.yaml
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
